html, body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

#headBar {
  background-color: #fec675;
}

#content {
  margin-top: 66px;
  background-image: linear-gradient(to bottom, rgba(254, 198, 117, 1), rgba(254, 198, 117, 0.5));
}

#part1 {
  display: flex;
  flex-direction: row;
  position: relative;
}

#names {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#names > #chinese {
  height: 15vw;
  border-bottom: 6px solid #000;
  font-size: 72px;
}

#names > #japanese {
  height: 15vw;
  border-bottom: 6px solid #000;
  font-size: 72px;
}

#names > #korean {
  height: 15vw;
  border-bottom: 6px solid #000;
  font-size: 72px;
}

#part1 > .image {
  width: 60%;
  height: 100%;
}

#introCover {
  width: 60vw;
  height: 45vw;
}

#part2, #part3 {
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#part2 > .questionSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}

#part2 > .questionSection > .stones {
  width: 30%;
  display: flex;
  justify-content: center;
}

#part2 img {
  width: 60%;
}

#part2 > .answerSection {
  display: flex;
  flex-direction: row;
  padding-top: 10vw;
  justify-content: space-around;
  width: 80%;
}

#part2 > .answerSection > .stones {
  width: 30%;
  display: flex;
  justify-content: center;
}

#part2 > .answerSection > .answers {
  width: 40%;
  display: flex;
  justify-content: center;
}


#part3 > .questionSection {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
}

#part3 > .questionSection > .stones {
  width: 30%;
  display: flex;
  justify-content: center;
}

#part3 img {
  width: 60%;
}

#part3 > .answerSection {
  display: flex;
  flex-direction: row;
  padding-top: 10vw;
  justify-content: space-around;
  width: 80%;
}

#part3 > .answerSection > .stones {
  width: 30%;
  display: flex;
  justify-content: center;
}

#part3 > .answerSection > .answers {
  width: 40%;
  display: flex;
  justify-content: center;
  padding-bottom: 10vw;
}
