#headBar {
  /* box-sizing: border-box; */
  width: 100vw;
  height: 66px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 6px solid #fcfffb;
}

.navigation {
  position: absolute;
  right: 64px;
  display: none;
}

.showNavigation {
  display: flex;
  flex-direction: row;
}

#navigation > div:last-child {
  padding-right: 25px;
}

.pageNames {
  padding-left: 15px;
  font-family: 'Lexend';
  font-weight: 600;
  font-size: 18px;
}

.navigation a:hover {
  text-decoration: none;
  color: #fcfffb;
}

.navigation a:active {
  text-decoration: none;
  color: #fcfffb;
}

.navigation a:link {
  text-decoration: none;
  color: #fcfffb;
}

.navigation a:visited {
  color: #fcfffb;
  text-decoration: none;
}

#pageTitle {
  font-family: 'Lexend';
  font-weight: 800;
  font-size: 28px;
  color: #fcfffb;
  padding-left: 20px;
}

.yinCover, .yangCover {
  height: 90%;
  cursor: pointer;
}

.yinCover {
  position: absolute;
  right: 30px;
  top: 3.5px;
}

.yinOpen {
  transform: translate(-615px, 0);
}

.yangCover {
  position: absolute;
  top: 3.5px;
  right: 20px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
