html, body {
  margin: 0px;
  padding: 0px;
}

#mainContainer {
  background-color: #54bbff;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#headBar {
  width: 100vw;
  height: 56px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3vw solid #fefcfd;
}

#navigation {
  display: flex;
  flex-direction: row;
}

.pageNames {
  padding-left: 1vw;
}
