html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.largeRec {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.border {
  width: 100%;
  height: 100%;
  border: 15px solid #fcfffb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* code for the head bar */
.headBar {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.headBar .navigation {
  display: flex;
  flex-direction: row;
}

.headBar .pageTitle {
  font-family: 'Lexend';
  font-weight: 800;
  font-size: 36px;
  color: #fcfffb;
  padding-left: 20px;
}

.headBar .pageNames {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNames p {
  display: none;
  font-family: 'Lexend';
  font-weight: 600;
  font-size: 20px;
}

@keyframes grow {
  from {transform: scale(1, 1);}
  to {transform: scale(1.4, 1.4)};
}

.navigation a:hover {
  animation-name: grow;
  animation-duration: 0.5s;
}

.navigation a:nth-child(odd) {
  background-image: url(headerImg/whiteRight.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation a:nth-child(even) {
  background-image: url(headerImg/blackRight.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation a:nth-child(5) {
  background-image: url(headerImg/whiteLeft.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.navigation a:nth-child(5):hover {
  background-image: url(indeImg/white.png);
}

.navigation a:first-child:hover #homeText{
  display: block;
}

.navigation a:nth-child(2):hover #introText{
  display: block;
}

.navigation a:nth-child(3):hover #basicsText{
  display: block;
}

.navigation a:nth-child(4):hover #hisText{
  display: block;
}

.navigation a:nth-child(5):hover #sourcesText{
  display: block;
}

.navigation a:nth-child(odd):hover {
  text-decoration: none;
  color: #393937;
  background-image: url(indexImg/white.png);
}

.navigation a:nth-child(odd):active {
  text-decoration: none;
  color: #393937;
}

.navigation a:nth-child(odd):link {
  text-decoration: none;
  color: #393937;
}

.navigation a:nth-child(odd):visited {
  color: #393937;
  text-decoration: none;
}

.navigation a:nth-child(even):hover {
  text-decoration: none;
  color: #fcfffb;
  background-image: url(indexImg/black.png);
}

.navigation a:nth-child(even):active {
  text-decoration: none;
  color: #fcfffb;
}

.navigation a:nth-child(even):link {
  text-decoration: none;
  color: #fcfffb;
}

.navigation a:nth-child(even):visited {
  color: #fcfffb;
  text-decoration: none;
}
/* the end of code for head bar */


/* the start of bottomNavi */
.bottomNavi {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  margin-bottom: 5vw;
}

.bottomNavi .previous {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bottomNavi .next {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bottomNavi .bottomStones {
  width: 110px;
  object-fit: contain;
}

.bottomNavi .blackBubble {
  height: 150px;
  width: 182px;
  background-image: url(img/blackBubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 20px;
}

.bottomNavi .whiteBubble {
  height: 150px;
  width: 182px;
  background-image: url(img/whiteBubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 20px;
}

.bottomNavi img {
  align-self: flex-end;
}

.bottomNavi .previous a:hover {
  text-decoration: none;
  color: #fcfffb;
}

.bottomNavi .previous a:visited {
  text-decoration: none;
  color: #fcfffb;
}

.bottomNavi .previous a:active {
  text-decoration: none;
  color: #fcfffb;
}

.bottomNavi .previous a:link {
  text-decoration: none;
  color: #fcfffb;
}

.bottomNavi .next a:hover {
  text-decoration: none;
  color: #393937;
}

.bottomNavi .next a:visited {
  text-decoration: none;
  color: #393937;
}

.bottomNavi .next a:active {
  text-decoration: none;
  color: #393937;
}

.bottomNavi .next a:link {
  text-decoration: none;
  color: #393937;
}
/* the end of bottomNavi */

/* code for the home page */
.homePage .mainContainer {
  height: 100vh;
  background-color: #9fc7c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage .stones a {
  width: 19vmax;
  height: 19vmax;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-weight: 600;
  /* color: #393937; */
  font-size: 1.5vw;
}

.homePage .stone {
 width: 100%;
 height: 100%;
}

@keyframes bounceL {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.95,1.05) translateY(-25px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

.homePage .stones a:first-child {
  left: 50px;
  top: 50px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 5px #888888;
  background-image: url(indexImg/LeftTop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.homePage #indexIntro {
  display: none;
}

.homePage .stones a:first-child:hover #indexIntro {
  display: block;
}

.homePage a:first-child:hover {
  text-decoration: none;
  color: #fcfffb;
  background-image: url(indexImg/black.png);
  animation: bounceL 1.5s infinite;
  animation-timing-function: ease;
}

.homePage a:first-child:active {
  text-decoration: none;
  color: #fcfffb;
}

.homePage a:first-child:link {
  text-decoration: none;
  color: #fcfffb;
}

.homePage a:first-child:visited {
  color: #fcfffb;
  text-decoration: none;
}

.homePage .stones a:nth-child(2) {
  left: 50px;
  bottom: 50px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 5px #888888;
  background-image: url(indexImg/LeftBottom.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.homePage #indexBasics {
  display: none;
}

.homePage .stones a:nth-child(2):hover #indexBasics {
  display: block;
}

.homePage .stones a:nth-child(2):hover {
  text-decoration: none;
  color: #393937;
  background-image: url(indexImg/white.png);
  animation: bounceL 1.5s infinite;
  animation-timing-function: ease;
}

.homePage a:nth-child(2):active {
  text-decoration: none;
  color: #393937;
}

.homePage a:nth-child(2):link {
  text-decoration: none;
  color: #393937;
}

.homePage a:nth-child(2):visited {
  color: #393937;
  text-decoration: none;
}

.homePage .stones a:nth-child(3) {
  right: 50px;
  top: 50px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 5px #888888;
  background-image: url(indexImg/RightTop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.homePage #indexHis {
  display: none;
}

.homePage .stones a:nth-child(3):hover #indexHis {
  display: block;
}

.homePage .stones a:nth-child(3):hover {
  background-image: url(indexImg/white.png);
  animation: bounceL 1.5s infinite;
  animation-timing-function: ease;
  text-decoration: none;
  color: #393937;
}

.homePage a:nth-child(3):active {
  text-decoration: none;
  color: #393937;
}

.homePage a:nth-child(3):link {
  text-decoration: none;
  color: #393937;
}

.homePage a:nth-child(3):visited {
  color: #393937;
  text-decoration: none;
}

.homePage .stones a:last-child {
  right: 50px;
  bottom: 50px;
  transition-duration: 0.5s;
  box-shadow: 0px 5px 5px #888888;
  background-image: url(indexImg/RightBottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.homePage #indexSources {
  display: none;
}

.homePage .stones a:last-child:hover #indexSources {
  display: block;
}

.homePage .stones a:last-child:hover {
  background-image: url(indexImg/black.png);
  animation: bounceL 1.5s infinite;
  animation-timing-function: ease;
}

.homePage a:last-child:active {
  text-decoration: none;
  color: #fcfffb;
}

.homePage a:last-child:link {
  text-decoration: none;
  color: #fcfffb;
}

.homePage a:last-child:visited {
  color: #fcfffb;
  text-decoration: none;
}

.homePage .title {
  height: 25vmax;
  width: 40vmax;
  min-width: 400px;
  min-height: 280px;
  border: 15px solid #fcfffb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lexend;
  font-weight: 800;
  color: #fcfffb;
  background-color: #dbb575;
  z-index: +999;
}

.homePage h2 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}

.homePage h1 {
  margin: 0px;
  padding: 0px;
  font-size: 150px;
  line-height: 1em;
}

/* code from https://stackoverflow.com/questions/40528290/how-to-implement-max-font-size */
@media screen and (min-width: 1120px) {
  .homePage h2 {
    font-size: calc(40px + 16 * ((100vw - 600px) / 600));
  }

  .homePage h1 {
    font-size: calc(150px + 16 * ((100vw - 600px) / 600));
  }
}

.homePage .movingStone {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bouncing {
  width: 5vw;
  height: 5vw;
  position: absolute;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.stopB {
  animation-play-state: paused;
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.95,1.05) translateY(-2vw); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

.homePage .bouncing:first-child {
  left: 30vw;
  top: 10vh;
}

.homePage .bouncing:nth-child(2) {
  left: 34vw;
  bottom: 6vh;
}

.homePage .bouncing:nth-child(3) {
  left: 47vw;
  top: 14vh;
}

.homePage .bouncing:nth-child(4) {
  right: 24vw;
  top: 50vh;
}

.homePage .bouncing:nth-child(5) {
  left: 22vw;
  top: 45vh;
}

.homePage .bouncing:nth-child(6) {
  right: 30vw;
  bottom: 9vh;
}

.homePage .bouncing:nth-child(7) {
  right: 29vw;
  top: 9vh;
}
/* end of home page code */


/* start of intro page code */
.introPage .mainContainer {
  background-color: #f7ba4d;
}

.introPage .part1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.introPage .cover {
  width: 85%;
  object-fit: cover;
  z-index: +1;
}

.introPage .chinese {
  font-size: 15vw;
  font-family: Zhi Mang Xing;
  position: absolute;
  color: rgba(252, 255, 251, 0.9);
  left: 1%;
}

.introPage .japanese {
  font-size: 15vw;
  font-family: Sawarabi Mincho;
  color: rgba(252, 255, 251, 0.95);
  position: absolute;
  left: 3%;
  bottom: 15%;
}

.introPage .korean {
  font-size: 15vw;
  font-family: Song Myung;
  color: rgba(252, 255, 251, 0.95);
  position: absolute;
  top: 0.1%;
  right: 30%;
}

.introPage .triContainer {
  width: 50px;
  height: 40px;
  margin-top: 20px;
}

.introPage .blackTriangle {
  width: 50px;
  height: 40px;
}

.introPage .whiteTriangle {
  width: 50px;
  height: 40px;
  transform: rotate(180deg);
}

.introPage .stoneContainer {
  width: 25%;
}

.introPage .stones {
  width: 100%;
  object-fit: contain;
}

.introPage .bubbles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50%;
}

.introPage .part2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  font-family: 'Lexend';
  font-weight: 500;
  position: relative;
  padding-top: 50px;
}

.introPage .part3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  font-family: 'Lexend';
  font-weight: 500;
  position: relative;
  padding-bottom: 100px;
}

.introPage .questionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.introPage .answerSection {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
}

.introPage .part2 > .questionSection {
  background-color: #fcfffb;
}

.introPage .part2 > .answerSection {
  background-color: #9fc7c9;
}

.introPage .part3 > .questionSection {
  background-color: #9fc7c9;
}

.introPage .part3 > .answerSection {
  background-color: #393937;
}

.introPage .questions {
  background-color: #393937;
  padding: 30px;
  border-radius: 20px;
  font-size: 25px;
  color: #fcfffb;
}

.introPage .answers {
  display: flex;
  justify-content: center;
  background-color: #fcfffb;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
}

.nextPage a:link {
  text-decoration: none;
  color: #fcfffb;
  text-align: center;
}

.nextPage a:active {
  text-decoration: none;
  color: #fcfffb;
}

.nextPage a:visited {
  text-decoration: none;
  color: #fcfffb;
}

.nextPage a:hover {
  text-decoration: none;
  color: #fcfffb;
}
/* end of intro page */


/* start of basics page */

.basicsPage .mainContainer {
  background-color: #9fc7c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicsPage .cover {
  width: 100%;
  height: 80vh;
  background-image: url(img/basicsCover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
}

.basicsPage .cover h1 {
  font-family: Lexend;
  font-size: 10vw;
  font-weight: 700;
  color: #fcfffb;
  margin-top: 4vw;
}

.basicsPage .part1 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.basicsPage h2 {
  font-family: Lexend;
  font-size: 40px;
  font-weight: 700;
  color: #fcfffb;
  padding-top: 10vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  position: relative;
  margin-bottom: 6vw;
  margin-top: 0px;
}

.basicsPage h2:after {
    content: "";
    display: block;
    width: 120px;
    height: 72px;
    background: url(img/Untitled-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    bottom: -10px;
}

.basicsPage .part1 .prompt {
  padding: 6vw;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.basicsPage .part1 .clearText {
  font-family: Lexend;
  font-size: 24px;
  color: #fcfffb;
}

.basicsPage .part1 .clearText span {
  font-weight: 700;
}

.basicsPage .clearText+.clearText {
  padding-top: 3vw;
}

.basicsPage .clearText:last-child {
  padding-bottom: 3vw;
}

.basicsPage .boardNavi {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10vw;
}

.basicsPage .boardIntro .narrator {
  display: flex;
  flex-direction: row;
  padding-right: 3vw;
  padding-top: 3vw;
  width: 70%;
}

.basicsPage .boardIntro .narrator .bubbles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
}

.basicsPage .boardIntro .narrator .text {
  font-family: Lexend;
  background-color: #fcfffb;
  padding: 30px;
  border-radius: 20px;
  font-size: 22px;
  color: #393937;
}

.basicsPage .boardIntro .narrator .stones {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.basicsPage .boardIntro .narrator .stones img {
  width: 80%;
  object-fit: contain;
}

.basicsPage .boardPic {
  width: 40%;
}

.A,.B,.C,.D,.E,.F,.G,.H,.I,.J {
  display: none;
}

.placeholder span:first-child {
  text-decoration: underline;
}

.basicsPage .hoverEffect *:hover {
  border: 3px solid #9fc7c9;
  transform: scale(1.3, 1.3);
  z-index: +99;
}

.positionA {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #393937;
  border-radius: 50%;
  position: absolute;
  right: 6.55%;
  top: 47.4%;
}

.positionB {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #fcfffb;
  border-radius: 50%;
  position: absolute;
  right: 19.05%;
  top: 47.4%;
}

.positionC {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #fcfffb;
  border-radius: 50%;
  position: absolute;
  right: 8.6%;
  bottom: 21.5%;
}

.positionD {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #393937;
  border-radius: 50%;
  position: absolute;
  right: 4.45%;
  bottom: 11.2%;
}

.positionE {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #fcfffb;
  border-radius: 50%;
  position: absolute;
  right: 4.45%;
  bottom: 16.4%;
}

.positionF {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #393937;
  border-radius: 50%;
  position: absolute;
  right: 6.53%;
  bottom: 21.5%;
}

.positionG {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #fcfffb;
  border-radius: 50%;
  position: absolute;
  right: 6.53%;
  bottom: 26.73%;
}

.positionH {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #393937;
  border-radius: 50%;
  position: absolute;
  right: 4.45%;
  bottom: 21.5%;
}

.positionI {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #393937;
  border-radius: 50%;
  position: absolute;
  right: 4.45%;
  bottom: 26.73%;
}

.positionJ {
  width: 1.3vw;
  height: 1.3vw;
  background-color: #fcfffb;
  border-radius: 50%;
  position: absolute;
  right: 6.54%;
  bottom: 16.4%;
}

.showName {
  display: block;
}

.hideBlank {
  display: none;
}

.basicsPage .triContainer {
  width: 50px;
  height: 40px;
  margin-top: 20px;
}

.basicsPage .whiteTriangle {
  width: 50px;
  height: 40px;
}

.basicsPage .stonesIntro .armiesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basicsPage .stonesIntro .narrator {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.basicsPage .stonesIntro .stones {
  width: 18%;
}

.basicsPage .stonesIntro .stones img {
  width: 100%;
  object-fit: contain;
}

.basicsPage .stonesIntro .bubbles {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 1vw;
}

.basicsPage .stonesIntro .triContainer {
  margin-top: 0px;
  margin-bottom: 20px;
}

.basicsPage .stonesIntro .text {
  font-weight: 500;
  font-family: Lexend;
  padding: 30px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #393937;
  color: #fcfffb;
}

.basicsPage .stonesIntro .blackTriangle {
  width: 50px;
  height: 40px;
}

.basicsPage .stoneArmies {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.basicsPage .stoneArmies .blackArmy {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  padding-left: 0px;
}

.basicsPage .stoneArmies .whiteArmy {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3vw;
  padding-right: 0px;
}

.basicsPage .stoneArmies .clearText {
  align-self: center;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0px;
}

.basicsPage .stonesIntro .brackets {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border: 5px solid #fcfffb;
  border-top: 0px;
}

.basicsPage .part2 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.basicsPage .part2 .prompt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 2em;
}

.basicsPage .part2 .blackTriangle {
  width: 50px;
  height: 40px;
  transform: scaleX(-1);
}

.basicsPage .part2 .stones {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.basicsPage .part2 .stones img {
  width: 100%;
  object-fit: contain;
}

.basicsPage .prompt .bubbles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  font-family: 'Lexend';
  font-weight: 500;
  color: #393937;
}

.basicsPage .part2 .prompt .text {
  font-weight: 500;
  font-family: Lexend;
  padding: 30px;
  border-radius: 20px;
  font-size: 22px;
}

.basicsPage .part2 .prompt:nth-child(odd) .text {
  color: #fcfffb;
  background-color: #393937;
}

.basicsPage .part2 .prompt:nth-child(even) .text {
  color: #393937;
  background-color: #fcfffb;
}

.basicsPage .part2 .prompt+.prompt {
  padding-top: 9vw;
}

.basicsPage .part3 {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vw;
  font-family: Lexend;
  font-weight: 60;
  font-size: 20px;
}

/* code for https://stackblitz.com/edit/medium-tabs?file=index.html */
input { display: none;}
input + label {
  margin: 0px;
  display: inline;
 }

input ~ .tab { display: none }
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5,
#tab6:checked ~ .tab.content6,
#tab7:checked ~ .tab.content7,
#tab8:checked ~ .tab.content8 { display: block; }

/* to style the tab */
input + label {
  /* border: 3px solid #fcfffb; */
  background: #fcfffb;
  padding: 12px;
  padding-bottom: 0px;
  border-radius: 16px 16px 0 0;
  position: relative;
  top: 1px;
}

/* to style the chosen tab */
input:checked + label {
  background: #393937;
  border-bottom: 3px solid #393937;
  color: #fcfffb;
}

/* to style the content */
input ~ .tab {
  padding: 30px;
  background-color: #fcfffb;
  border-radius: 0 16px 16px 16px;
  border: 5px solid #f7ba4d;
}
/* the end of basics page */


/* start of the history page */
.historyPage .mainContainer {
  background-color: #f7ba4d;
}

.historyPage .cover {
  width: 100%;
  height: 80vh;
  background-image: url(img/historyCover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyPage .cover h1 {
  font-family: Lexend;
  font-size: 8vw;
  font-weight: 700;
  color: #fcfffb;
}

.historyPage .historySection {
  width: 100%;
  height: 60vw;
  background-image: url(img/go-board.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(16, 1fr);
  margin-bottom: 10vw;
}

@keyframes hisGrowing {
  from {transform: scale(1, 1);}
  to {transform: scale(1.35, 1.35);}
}

.historyPage .events {
  height: 20vw;
  width: 20vw;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  font-family: Lexend;
  z-index: +99;
}

.historyPage .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
}

.historyPage .events:hover {
  animation: hisGrowing 2s infinite;
}

.historyPage #originText {
  display: none;
}

.historyPage .events:hover #originText {
  display: block;
}

.historyPage #koreanText {
  display: none;
}

.historyPage .events:hover #koreanText {
  display: block;
}

.historyPage #japanText {
  display: none;
}

.historyPage .events:hover #japanText {
  display: block;
}

.historyPage #interText {
  display: none;
}

.historyPage .events:hover #interText {
  display: block;
}

.historyPage #modernText {
  display: none;
}

.historyPage .events:hover #modernText {
  display: block;
}

.historyPage .events .title {
  font-size: 1.2vw;
  font-weight: 700;
  padding-bottom: 1vw;
  text-align: center;
}

.historyPage .events .description {
  font-size: 0.9vw;
  font-weight: 500;
  width: 100%;
}

.historyPage .events:nth-child(5) .title {
  font-size: 1.1vw;
}

.historyPage .events:nth-child(5) .description {
  font-size: 0.8vw;
}

.historyPage .events:first-child {
  grid-area: 2 / 3 / 4 / 5;
  background-image: url(img/blackDown.png);
  color: #fcfffb;
}

.historyPage .events:first-child:hover {
  background-image: url(indexImg/black.png);
}

.historyPage .events:nth-child(2) {
  grid-area: 7 / 2 / 9 / 5;
  background-image: url(indexImg/LeftBottom.png);
  color: #393937;
}

.historyPage .events:nth-child(2):hover {
  background-image: url(indexImg/white.png);
}

.historyPage .events:nth-child(3) {
  grid-area: 5 / 7 / 7 / 9;
  background-image: url(indexImg/random8.png);
  color: #fcfffb;
}

.historyPage .events:nth-child(3):hover {
  background-image: url(indexImg/black.png);
}

.historyPage .events:nth-child(4) {
  grid-area: 3 / 12 / 5 / 14;
  background-image: url(img/whiteDown.png);
  color: #393937;
}

.historyPage .events:nth-child(4):hover {
  background-image: url(indexImg/white.png);
}

.historyPage .events:nth-child(5) {
  grid-area: 8 / 11 / 10 / 13;
  background-image: url(indexImg/RightBottom.png);
  color: #fcfffb;
}

.historyPage .events:nth-child(5):hover {
  background-image: url(indexImg/black.png);
}

.historyPage .line:nth-child(6) {
  width: 12vw;
  grid-area: 5 / 3 / 8 / 6;
  transform: rotate(99deg);
}

.historyPage .line:nth-child(7) {
  width: 12vw;
  transform: rotate(170deg);
  grid-area: 7 / 5 / 9 / 7;
}

.historyPage .line:nth-child(8) {
  width: 12vw;
  grid-area: 5 / 10 / 7 / 12;
  transform: rotate(165deg);
}

.historyPage .line:nth-child(9) {
  width: 12vw;
  grid-area: 6 / 12 / 8 / 14;
  transform: rotate(105deg);
}
/* the end of the history page */


/* start of the source page */
.sourcePage .mainContainer {
  background-color: #9fc7c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sourcePage .part1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sourcePage .part2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vw;
}

.sourcePage .text {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend';
  font-weight: 600;
  color: #fcfffb;
  margin: 0px;
  padding: 2vw;
}

.sourcePage .part1 .text {
  font-size: 3.5vw;
}

.sourcePage .part2 .text {
  font-size: 3vw;
}

.sourcePage .slogan {
  width: 80%;
}

.sourcePage .wall{
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  border: 4px solid #393937;
  background-color: #f7ba4d;
}

.sourcePage .cell {
  border: 3px solid #393937;
}

.sourcePage .part1 .buttons {
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sourcePage .row {
  width: 66.666%;
  height: 33.3333%;
  display: flex;
  justify-content: center;
}

.sourcePage .part1 a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sourcePage .part1 a:nth-child(even) {
  background-image: url(indexImg/random4.png);
}

.sourcePage .part1 a:nth-child(even):link {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part1 a:nth-child(even):active {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part1 a:nth-child(even):visited {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part1 a:nth-child(even):hover {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part1 a:nth-child(odd) {
  background-image: url(headerImg/whiteRight.png);
}

.sourcePage .part1 a:nth-child(odd):link {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part1 a:nth-child(odd):active {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part1 a:nth-child(odd):visited {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part1 a:nth-child(odd):hover {
  text-decoration: none;
  color: #393937;
}

.soucePage .part2 .wall {
  right: 0px;
}

.sourcePage .part2 a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sourcePage .part2 .buttons {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sourcePage .part2 .row:first-child a:first-child {
  background-image: url(indexImg/LeftTop.png);
}

.sourcePage .part2 .row:first-child a:first-child:link {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:first-child a:first-child:active {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:first-child a:first-child:visited {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:first-child a:first-child:hover {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:first-child a:nth-child(2) {
  background-image: url(indexImg/RightTop.png);
}

.sourcePage .part2 .row:first-child a:nth-child(2):link {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:first-child a:nth-child(2):active {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:first-child a:nth-child(2):visited {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:first-child a:nth-child(2):hover {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:nth-child(2) a:first-child {
  background-image: url(indexImg/LeftBottom.png);
}

.sourcePage .part2 .row:nth-child(2) a:first-child:link {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:nth-child(2) a:first-child:active {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:nth-child(2) a:first-child:visited {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:nth-child(2) a:first-child:hover {
  text-decoration: none;
  color: #393937;
}

.sourcePage .part2 .row:nth-child(2) a:nth-child(2) {
  background-image: url(indexImg/RightBottom.png);
}

.sourcePage .part2 .row:nth-child(2) a:nth-child(2):link {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:nth-child(2) a:nth-child(2):active {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:nth-child(2) a:nth-child(2):visited {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .row:nth-child(2) a:nth-child(2):hover {
  text-decoration: none;
  color: #fcfffb;
}

.sourcePage .part2 .slogan+.slogan {
  padding-top: 50px;
}
/* the end of the sources page */
